[submodule "emacs/profile/.emacs.d"]
	path = emacs/profile/.emacs.d
	url = git@github.com:plexus/chemacs2.git
[submodule "emacs/profile/.emacs.d.shims/doom/sources"]
	path = emacs/profile/.emacs.d.shims/doom/sources
	url = git@github.com:doomemacs/doomemacs.git
[submodule "emacs/profile/.emacs.d.shims/spacemacs/sources"]
	path = emacs/profile/.emacs.d.shims/spacemacs/sources
	url = https://github.com/syl20bnr/spacemacs
